/* notify/Notification/Notification.module.css */
.notification-container {
  position: relative;
}
.notification { 
  position: absolute;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  top: 0;
  right: 0;
  width: 100px;
  height: auto;

}
  
  .notification:not(:last-child) {
    margin-bottom: 8px;
  }
  
 .info {
    background-color: #2196f3;
  }
  
  .notification-container .notification.success {
    background-color: #4caf50;
  }
  
  .notification-container .notification.warning {
    background-color: #ff9800;
  }
  
  .notification-container .notification.error {
    background-color: #f44336;
  }
  
  .notification-container .notification .closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* .notification,
  .notification .closeButton {
    color: #fff;
  } */
  