/* notify/Notification/Notification.module.css */
.notification-container {
  position: relative;
  top: 20px;
  right: 20px;
}
.notification {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
  
  .notification:not(:last-child) {
    margin-bottom: 8px;
  }
  
  .notification-container .notification .info {
    background-color: #2196f3;
  }
  
  .notification-container .notification.success {
    background-color: #4caf50;
  }
  
  .notification-container .notification.warning {
    background-color: #ff9800;
  }
  
  .notification-container .notification.error {
    background-color: #f44336;
  }
  
  .notification-container .notification .closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  .notification,
  .notification .closeButton {
    color: #fff;
  }
  